In [35]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder

In [36]:
df = pd.read_csv('../datasets/Iris.csv', index_col=0)
df.head()

    SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
Id
1             5.1           3.5            1.4           0.2  Iris-setosa
2             4.9           3.0            1.4           0.2  Iris-setosa
3             4.7           3.2            1.3           0.2  Iris-setosa
4             4.6           3.1            1.5           0.2  Iris-setosa
5             5.0           3.6            1.4           0.2  Iris-setosa

In [37]:
# Split the data into training and test sets
X = df.drop('Species', axis=1)
y = df['Species']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [38]:
# Normalize numerical columns on train and test set
def normalize(train, test):
    min_val = train.min()
    max_val = train.max()

    # Normalize to [0,1] range
    train_norm = (train - min_val) / (max_val - min_val)
    test_norm = (test - min_val) / (max_val - min_val)
    return train_norm, test_norm

X_train_norm, X_test_norm = normalize(X_train, X_test)

In [47]:
# One-hot encode class labels
encoder = OneHotEncoder(sparse_output=False)
y_train_enc = encoder.fit_transform(y_train.values.reshape(-1, 1))
y_test_enc = encoder.transform(y_test.values.reshape(-1, 1))

# Convert to DataFrame
y_train_enc_df = pd.DataFrame(y_train_enc, columns=encoder.get_feature_names_out(['Species']))
y_test_enc_df = pd.DataFrame(y_test_enc, columns=encoder.get_feature_names_out(['Species']))

In [49]:
# Export the preprocessed data
X_train_norm.to_csv('../datasets/iris_train.csv', index=False)
X_test_norm.to_csv('../datasets/iris_test.csv', index=False)
y_train_enc_df.to_csv('../datasets/iris_train_labels.csv', index=False)
y_test_enc_df.to_csv('../datasets/iris_test_labels.csv', index=False)